<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewind</key>
	<string></string>
	<key>play</key>
	<string>CONTROLLER,45</string>
	<key>fastforward</key>
	<string>CONTROLLER,48</string>
	<key>reload</key>
	<string>CONTROLLER,49</string>
	<key>stop</key>
	<string>CONTROLLER,46</string>
	<key>record</key>
	<string>CONTROLLER,44</string>
	<key>channel1/button1</key>
	<string>CONTROLLER,33</string>
	<key>channel2/button1</key>
	<string>CONTROLLER,34</string>
	<key>channel3/button1</key>
	<string>CONTROLLER,35</string>
	<key>channel4/button1</key>
	<string>CONTROLLER,36</string>
	<key>channel5/button1</key>
	<string>CONTROLLER,37</string>
	<key>channel6/button1</key>
	<string>CONTROLLER,38</string>
	<key>channel7/button1</key>
	<string>CONTROLLER,39</string>
	<key>channel8/button1</key>
	<string>CONTROLLER,40</string>
	<key>channel9/button1</key>
	<string>CONTROLLER,41</string>
	<key>channel1/button2</key>
	<string>CONTROLLER,23</string>
	<key>channel2/button2</key>
	<string>CONTROLLER,24</string>
	<key>channel3/button2</key>
	<string>CONTROLLER,25</string>
	<key>channel4/button2</key>
	<string>CONTROLLER,26</string>
	<key>channel5/button2</key>
	<string>CONTROLLER,27</string>
	<key>channel6/button2</key>
	<string>CONTROLLER,28</string>
	<key>channel7/button2</key>
	<string>CONTROLLER,29</string>
	<key>channel8/button2</key>
	<string>CONTROLLER,30</string>
	<key>channel9/button2</key>
	<string>CONTROLLER,31</string>
	<key>channel1/fader</key>
	<string>CONTROLLER,2</string>
	<key>channel2/fader</key>
	<string>CONTROLLER,3</string>
	<key>channel3/fader</key>
	<string>CONTROLLER,4</string>
	<key>channel4/fader</key>
	<string>CONTROLLER,5</string>
	<key>channel5/fader</key>
	<string>CONTROLLER,6</string>
	<key>channel6/fader</key>
	<string>CONTROLLER,8</string>
	<key>channel7/fader</key>
	<string>CONTROLLER,9</string>
	<key>channel8/fader</key>
	<string>CONTROLLER,12</string>
	<key>channel9/fader</key>
	<string>CONTROLLER,13</string>
	<key>channel1/knob</key>
	<string>CONTROLLER,14</string>
	<key>channel2/knob</key>
	<string>CONTROLLER,15</string>
	<key>channel3/knob</key>
	<string>CONTROLLER,16</string>
	<key>channel4/knob</key>
	<string>CONTROLLER,17</string>
	<key>channel5/knob</key>
	<string>CONTROLLER,18</string>
	<key>channel6/knob</key>
	<string>CONTROLLER,19</string>
	<key>channel7/knob</key>
	<string>CONTROLLER,20</string>
	<key>channel8/knob</key>
	<string>CONTROLLER,21</string>
	<key>channel9/knob</key>
	<string>CONTROLLER,22</string>
</dict>
</plist>
